<div id='shorten'>
<!-- Your code here -->
  <div class="navigation">
    <ul>
      <li><a href="/#/links">Links</a></li>
      <li><a class="selected" href="/#/shorten">Shorten</a></li>
    </ul>
  </div>
  <div class="creator">
    <form name="shortenForm" ng-submit='shortenForm.$valid && addLink()' novalidate>
      <input type='url' name='url' ng-model='link.url' required>
      <button type="submit" ng-disabled="!(!!link.url)">Shorten</button>
    </form>
    <div class="message" ng-show="shortenForm.url.$error.url">
      Please enter a valid url.
    </div>

    <img class="spinner" src="/assets/spiffygif_46x46.gif" ng-show="loading" />
    <div class="link" ng-model="data" ng-show='data'>
      <img src="/assets/redirect_icon.png"/>
      <div class="info">
        <div class='visits'><span class='count'>{{data.visits}}</span>Visits</div>
        <div class='title'>{{data.title}}</div>
        <div class='original'>{{data.url}}</div>
        <a href='{{url.base_url}}/api/links/{{url.code}}'>{{data.base_url}}/{{data.code}}</a>
      </div>
    </div>

  </div>
</div>
